<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>타이틀</title>
    </head>
    <body>
        <div class="index-header-form">
            <h2 th:text="${message}">제목</h2>
        </div>
        <div>
            <p>회원 목록을 보기 위해서는 <a th:href="@{/members}">여기</a>를 클릭하세요.</p>
        </div>
        <div th:if="${session.loginMember eq null}">
            <a th:href="@{/login}">로그인</a>
            <a th:href="@{/members/join}">회원가입</a>
        </div>
        <div th:unless="${session.loginMember eq null}">
            <a th:href="@{/logout}">로그아웃</a>
        </div>
    </body>
</html>